
<md-dialog style="width:90%;max-width:400px">




<md-toolbar md-scroll-shrink>
<div class="md-toolbar-tools">

  <h2>

    {{isUpdate ? 'Update input' : 'Create new input'}}
    
  </h2>
  <span flex></span>

  <md-button ng-click="cancel()" class="md-fab md-mini" aria-label="close">
<!--           <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
-->        
X
</md-button>
</div>
</md-toolbar>





<md-dialog-content>


<md-tabs md-dynamic-height md-border-bottom>


<!-- tab 1 -->

<md-tab label="Input">
<md-content class="md-padding" layout="column">

<!-- form start -->


<!-- <p>Container ID : {{container.id}}</p>
-->

<div layout="row" layout-align="space-around start">

 <md-input-container flex="80">
 <label>Input type</label>
 <md-select ng-model="newinput.type" ng-change="initTemplate()" >
 <md-option ng-repeat="input_type in input_types" ng-value="input_type.name">
 {{input_type.dname}}
</md-option>
</md-select>
</md-input-container>

<md-input-container flex="20">
<label>Position</label>
<input flex type="number" min="1" max="{{max_position}}" ng-change="changePosition(newinput)" ng-model="newinput.position" aria-label="red" aria-controls="red-slider">
</md-input-container>

</div>




<div layout-xs="column" layout="row" layout-align-xs="start center" layout-align="space-around start">


  <form name="input_form" novalidate layout="column">

    <div flex="50" flex-xs="100">



      <md-input-container>
      <label>Input title</label>
      <input name="input_title" required ng-model="newinput.title">
    </md-input-container>


    <!-- textbox -->
    <div ng-if="newinput.type == 'text' " layout="column" layout-align="center start" >

      <md-input-container>
      <label>Option placeholder</label>
      <input name="input_placeholder" required ng-model="newinput.placeholder">
    </md-input-container>
  </div>




  <!-- checkbox -->
  <div ng-if="newinput.type == 'checkbox' " layout="column" layout-align="center start" >
   <md-input-container>
   <label>Checkbox text</label>
   <input name="checkboxtext" required ng-model="newinput.text">
   <div ng-messages="new_input_form.checkboxtext.$error">
    <div ng-message="required">This is required.</div>
  </div>
</md-input-container>


<md-radio-group ng-model="newinput.value">
<label>Checkbox selected ?</label>
<md-radio-button value="true" class="md-primary">True</md-radio-button>
</md-radio-group>
</div>








<!-- select list -->
<div ng-if="newinput.type == 'select' " layout="column" layout-align="start center" >

  <md-input-container>
  <label>Option placeholder</label>
  <input name="input_placeholder" required ng-model="newinput.placeholder">
</md-input-container>


</div>


</div>



<!-- date input -->
<div ng-if="newinput.type == 'date'" ng-init="tmp.createDateObject(newinput)" flex="100" layout="row" layout-align="center" >


  <div layout="column">
    <md-input-container>
    <label>Date</label>
    <md-datepicker ng-model="newinput.value" md-placeholder="Enter date"
    ></md-datepicker>
  </md-input-container>
</div>




</div>




</form>


<!-- form end -->


<!-- option form -->

<form novalidate name="option_form" flex="50" flex-xs="100">


  <!-- Select -->

  <div ng-if="newinput.type == 'select' || newinput.type == 'radiogroup' " layout="column">

    <div layout="row" layout-align="center center">
      <md-input-container flex="100" flex-xs="80">
      <label>Option text</label>
      <input required name="option_text" ng-model="active_option.text">

      <md-button style="top:10px" type="submit" ng-click="addOption()" class="md-raised small_button">
      Add
    </md-button>

    <md-button style="top:10px" ng-disabled="selectedOption ? false : true" type="submit" ng-click="updateOption()" class="md-raised small_button">
    Update
  </md-button>
</md-input-container>






</div>


<div layout="row" layout-align="center center" style="max-height:138px">

  <md-input-container flex="100" flex-xs="80">
  <md-select ng-change="setOption(newinput.value)" ng-init="setOption(newinput.value)" placeholder="{{newinput.placeholder}}" ng-model="newinput.value">
  <md-option ng-value="op" ng-repeat="op in newinput.options">
  <!--   Unfortunately ng-init does not set position every time html is recompiled, hence the heck below. -->
  {{(op.position=$index+1) ? '': ''}}
  {{op.text}}
</md-option>

<md-option md-option-empty>
NONE
</md-option>
</md-select>

<md-input-container style="max-width:45px">
<input style="position:relative;bottom:4px;border: 1px solid #ebebeb;" type="number" min="1" max="{{newinput.options.length + 1}}" ng-change="changeOptionPosition(active_option)" ng-model="active_option.position" aria-label="red" aria-controls="red-slider">
</md-input-container>


<!--       <md-button type="submit" style="bottom:14px" ng-click="addOption(active_option)" class="md-raised small_button">
      CLR
      </md-button>
    -->
    <md-button style="bottom:14px" type="submit" ng-click="deleteOption()" class="md-raised small_button">
    Del
  </md-button>
</md-input-container>

</div>





</div>




<!-- Multi-Select -->



<div ng-if="newinput.type == 'multiselect' " layout="column">

  <div layout="row" layout-align="center center">
    <md-input-container flex="100" flex-xs="80">
    <label>Option text</label>
    <input required name="option_text" ng-model="active_option.text">

    <md-button style="top:10px" type="submit" ng-click="addOption()" class="md-raised small_button">
    Add
  </md-button>

  <md-button style="top:10px" ng-disabled="selectedOption ? false : true" type="submit" ng-click="updateOption()" class="md-raised small_button">
  Update
</md-button>






</div>


<div layout="row" layout-align="center center" style="max-height:138px">

  <md-input-container flex="100" flex-xs="80">
  <md-select ng-change="setOption(temp.current_value); optionSelected = checkIfSelected(selectedOption)" ng-init="setOption(temp.current_value)" placeholder="{{newinput.placeholder}}" ng-model="temp.current_value">
  <md-option ng-value="op" ng-repeat="op in newinput.options">
  {{op.text + ( checkIfSelected(op) ? '*' : '') }}
</md-option>

<!-- <md-option md-option-empty>
NONE
</md-option>
 --></md-select>

<md-input-container style="max-width:45px">
<input style="position:relative;bottom:4px;border: 1px solid #ebebeb;" type="number" min="1" max="{{get_max_option_position()}}" ng-change="changeOptionPosition(active_option)" ng-model="active_option.position" aria-label="red" aria-controls="red-slider">
</md-input-container>

<!-- 
      <md-button type="submit" style="bottom:14px" ng-click="toggleSelected()" class="md-raised small_button">
      Check
    </md-button> -->


    <md-checkbox  style="bottom:14px" ng-change="toggleSelected(optionSelected)" ng-model="optionSelected" aria-label="selected">
    Selected    
  </md-checkbox>


  <md-button style="bottom:14px" type="submit" ng-click="deleteOption()" class="md-raised small_button">
  Del
</md-button>
</md-input-container>


</md-input-container>


</div>





</div>






</form>


</div>




</md-content>
</md-tab>


<!-- tab 2 -->


<md-tab label="Validation">


<md-content class="md-padding" layout="column">

<form novalidate name="constraints">

<!-- required -->
<div layout="row" flex flex-gt-xs="40" layout-align-gt-xs="space-around">

     <md-input-container>
       <md-checkbox ng-model="newinput.required">
       Required    
      </md-checkbox>
    </md-input-container>


</div>


<!-- validation for text input -->
<div layout="row" flex flex-gt-xs="40" layout-align-gt-xs="center center" ng-if="newinput.type == 'text' ">


   <md-input-container>
   <label>Pattern</label>
   <input type="text" name="pattern_input" validateregex ng-model="newinput.attributes['pattern']">

  <div ng-messages="constraints.pattern_input.$error" role="alert">
    <div ng-message="validateregex">Please enter a valid regular expression</div>
  </div>

  </md-input-container>




</div>


<!-- validation for date input -->
<div flex="100" layout="row" layout-align="space-around center" ng-if="newinput.type == 'date' ">

  <md-input-container>
  <label>Min date</label>
  <md-datepicker ng-model="newinput.attributes['minDate']" md-placeholder="Enter date"
  ></md-datepicker>
</md-input-container>


<md-input-container>
<label>Max date</label>
<md-datepicker ng-model="newinput.attributes['maxDate']" md-placeholder="Enter date"
></md-datepicker>
</md-input-container>

</div>





</md-content>
</md-tab>


<!-- tab 3 -->


<md-tab label="Otherfsdfsfsdsf">
<md-content class="md-padding">

<h1>Tab 3</h1>
</form>
</md-content>
</md-tab>

<!-- tab 4 -->


<!-- <md-tab label="Other2">
<md-content class="md-padding">

<h1>Tab 4</h1>

</md-content>
</md-tab>
-->


</md-tabs>

</md-dialog-content>

<md-dialog-actions layout="row" layout-align="center center">



        <md-button type="submit" ng-click="addInput($event,newinput,isUpdate)" class="md-raised md-primary">
        {{isUpdate ? 'Update' : 'Add'}}
        </md-button>
        

</md-dialog-actions>




</md-dialog>