<div ng-controller="templateEditorController as tmp">

<md-content layout-padding>


<form name="tmp.tForm">

<div class="section" ng-show="tmp.sectionActive(section.count)" ng-init="inputs = []" ng-repeat="section in tmp.template.sections">

	<h5>{{section.title}}</h5>


<div class="container" layout="column" layout-align="start center" ng-repeat="con in section.containers"> 
	

	<div layout-gt-xs="row" style="width:100%;max-width:600px" layout-align="space-between start">

		<div class="container" flex-gt-xs="50" ng-repeat="cc in con.child_containers" ng-show="!cc.conditions ? true : checkEquality(cc)">

	        <h5>{{cc.title}}</h5>

			<div class="cinput" ng-repeat="inp in cc.inputs track by $index " style="width:100%">

 				<div class="position">{{inp.position=$index+1}}</div>

				<div class="edit_button" ng-click="tmp.addEditInput($event, cc, inp)">edit</div>
				<div class="del_button" ng-click="tmp.delInput($event, cc, $index)">del</div>


				<md-input-container ng-if="inp.type == 'textinput'">
					<input ng-init="input_name = (inp.type + '_' + inp.id); inputs.push(input_name)" name="{{input_name}}" ng-required="inp.disabled ? '' : inp.required " ng-disabled="inp.disabled" type="text" ng-model="inp.value" placeholder="{{inp.placeholder}}"/>
				</md-input-container>

<!-- 				can also use tmp.tForm[input_name].$inputDisabled for disabled check
 -->

				  <md-checkbox ng-init="input_name = (inp.type + '_' + inp.id); inputs.push(input_name);" name="{{input_name}}" ng-required="inp.disabled ? '' : inp.required " ng-model="inp.value"     ng-true-value="'true'"
               ng-disabled="inp.disabled" ng-if="inp.type == 'checkbox'" aria-label="{{inp.text}}">
		             {{ inp.text }}
		          </md-checkbox>


			    <md-radio-group ng-init="input_name = (inp.type + '_' + inp.id); inputs.push(input_name)" name="{{input_name}}" ng-required="inp.disabled ? '' : inp.required "  ng-disabled="inp.disabled" ng-model="inp.value" ng-if="inp.type == 'radiogroup'">
			      <md-radio-button ng-repeat="opt in inp.options" value="{{opt.value}}" class="md-primary">{{opt.text}}</md-radio-button>
			     </md-radio-group>


			    <md-input-container ng-if="inp.type == 'select'">
		          <md-select placeholder="{{inp.placeholder}}" ng-init="input_name = (inp.type + '_' + inp.id); inputs.push(input_name)" name="{{input_name}}" ng-required="inp.disabled ? '' : inp.required "  ng-disabled="inp.disabled" ng-model="inp.value">
		            <md-option ng-repeat="opt in inp.options" ng-value="opt.value">
		              {{opt.text}}
		            </md-option>
		          </md-select>
		        </md-input-container>


			  <md-input-container style="max-width:100%" ng-if="inp.type == 'multiselect'">
			        <label>{{inp.text}}</label>
			        <md-select ng-disabled="inp.disabled" ng-init="input_name = (inp.type + '_' + inp.id); inputs.push(input_name)" name="{{input_name}}" ng-required="inp.disabled ? '' : inp.required "  ng-model="inp.value"
			                   
			                   multiple>

		          <md-optgroup label="stuff">
			            <md-option ng-value="opt.value" ng-repeat="opt in inp.options">{{opt.text}}</md-option>
			          </md-optgroup>
			        </md-select>
			      </md-input-container>

			      <div class="tip" ng-if="inp.tip">
			      <label>Help:</label>
			      <a ng-click="tmp.showTipDialog($event,inp.tip)">{{inp.tip.label}}</a>
			      </div>


		    </div>

		    		<md-button ng-click="tmp.addEditInput($event,cc)">+ input</md-button>


		</div>


</div>

		<md-button>+ container</md-button>


</div>




			<md-button>+ container</md-button>

			<div layout="row" layout-align="space-around">
  <md-button ng-click="nextSection(section, inputs)">Next</md-button>

    <md-button ng-if="tmp.active_section !== 1" ng-click="prevSection()">Prev</md-button>

</div>


</div>

</form>

</md-content>

</div>